/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";


@theme {

  --color-body: #f1f5f9;
  --color-bodydark: #AEB7C0;

  --color-primary: #3C50E0;
  --color-secondary: #80CAEE;
  --color-stroke: #E2E8F0;

  --color-boxdark: #24303F;
  --color-strokedark: #2E3A47;

  --color-success: #219653;
  --color-danger: #D34053;
  --color-warning: #FFA70B;
}

body {
  background-color: var(--color-body); /* same as rgb(241, 245, 249) */
}
