<app-panel title="Client list" >
  <div class="flex justify-between ">
    <form [formGroup]="searchFormGroup"  method="GET" (ngSubmit)="handleSearchSubmit()" >
      <label class="relative">
        <input type="text" placeholder="Search by name" name="keyword"  class="pr-10 pl-3 py-2 border rounded bg-white " formControlName="keyword">
      <button type="submit" class="w-8 aspect-square  my-1 mr-1 rounded bg-blue-500 text-white absolute right-0 "><i class="fas fa-search"></i> </button>
      </label>
    </form>
    <button  (click)="openModal()"
             class="w-10 aspect-square my-2 border rounded bg-blue-500 text-white flex items-center justify-center">
      <i class="fas fa-add"></i>
    </button>  </div>
  <table class="table-auto w-full relative">
    <thead>
    <tr class="text-left text-gray-600 text-md ">
      <th class=" p-2">ID</th>
      <th class=" p-2">Name</th>
      <th class=" p-2">Email</th>
    </tr>
    </thead>
    <tbody>
      @if (isLoading) {
        <div class="flex items-center justify-center absolute left-1/2 top-2">
          <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-600"></div>
        </div>
      }

      @if (errorMessage) {
        <div class="text-red-500 m-6">
          {{ errorMessage }}
        </div>
      }

      @if(customers && !isLoading){

        @for (customer of customers ; track customer.id){
          <tr  class="bg-white border-t-2 border-gray-200 group">
            <td class=" p-2" >{{customer.id}}</td>
            <td class=" p-2" >{{customer.name}}</td>
            <td class=" p-2" >{{customer.email}}</td>
            <td class=" p-2 space-x-2 opacity-0  group-hover:opacity-100" >
              <button (click)="handleDelete(customer.id)" class="bg-red-500 text-white text-xs rounded py-1 px-2" >
                <a > <i class="fa fa-trash" ></i> </a>
              </button>
              <button  class="bg-blue-500 text-white text-xs rounded py-1 px-2"  >
                <a> <i class="fa fa-edit" ></i> </a>
              </button>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</app-panel>

<app-modal title="hewlllo" [open]="showModal" (close)="closeModal()">
  <div>test</div>
</app-modal>
